.container {
  padding-top: 30px;
}

.row-vertical-space {
  margin-top: 30px !important;
}

.features-list p {
  text-align: left !important;
  float: left;
  color: red;
}

.list-group-item {
  border: none;
  background: #eee;
}
